PORT=3060
CITIZEN_SERVICE_URL=http://localhost:8000
POWER_SERVICE_URL=http://localhost:8001
GRID_SERVICE_URL=http://localhost:8002
PYTHON_ML_URL=http://localhost:5000
OAUTH_SERVICE_URL=http://localhost:3002
